
#bs-example-navbar-collapse-1 ul li a{
    color:#fff;
    font-size:14px;
    font-weight:normal;
    margin-left: -2px;
    margin-right: -2px;
}


.logo {
    width: 95px;
    height: 32px;
    margin-top: -6px;
    flow:left;
}
.search-logo{
    padding-top: 5px;
    border-color:transparent;box-shadow: transparent;background: none;
    background-image: url("../images/search.PNG") ;
    background-repeat: no-repeat;
    width:30px;
    height:30px;
}
